<h2><%= @project.title %></h2>
<p><%= @project.description %></p>

<div>
    <%= link_to "Delete", @project,
        data: { turbo_method: :delete, turbo_confirm: "Project becomes removed. Are you sure?" },
        class: "link-danger" %>
</div>
